
pre {
  font-size: 0.7em;
}

.codesmall {
  font-size: 0.7em;

}

h3 em {
  font-family: "Work Sans", sans-serif;
  letter-spacing: 0.02em;
  font-weight: 900;
  font-style: normal;
}

h1 em {
  color: yellow;
  font-style: normal;
}

.source--root {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 10px;
  height: 0;
  overflow: visible;
}

.layout-image > div {
  position: relative;
}
